@use '../abstracts' as a;

.card {
  font-size: a.$base-font-size;
  color: a.$secondary;
  width: min(100%, 40rem);
  padding: 1em;

  .card-title {
    font-size: a.$font-size-md;
    margin-bottom: 8px;
  }
}
